// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$screen-xs-min: 0px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Color system
$blue:    #252731 !default;
$light:    #ffffff !default;

//Fonts
$main: 10px;
$sm: 1rem;
$md: 1.5rem;
$lg: 2rem;
$xl: 2.5rem;