@import "../variables/mixins";

.assets_table {
    @include color;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .assets_heading {
        text-align: center;
        min-height: 50px;
    }

    .assets_grid {
        display: flex;
        flex-direction: column;

        .assets_row {
            display: flex;
            flex-direction: row;
            .assets_cell {
                margin: 1px;
                background-color: #252731;
                flex: 6;
            }
        }

        .assets_title {
            .assets_cell {
                margin: 1px;
                background-color: #5d627c;
            }
        }

    }
}