@import "../variables/mixins";

.assets_table {
    @include border-light;
    @include border-radius;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 2%;

    .assets_heading {
     
        margin-bottom: 2%;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        width: 100%;
        font-size: 3rem;
        font-weight: 100;

    }

    .assets_grid {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        color: lightgrey;
        border-radius: 10px;
        padding: 5px;

        .assets_row {
            border-bottom: 0.5px rgba(255, 255, 255, 0.18) solid;
            display: flex;
            flex-direction: row;

            .assets_cell {
                padding: 1%;
                margin: 1px;
                flex: 6;
                font-size: 1.5rem;

                @include sm {
                    font-size: 1rem;
                }
            }
        }

    
        .assets_title {
            text-transform: uppercase;
            color: $dark-blue;

            .assets_title_cell {
                padding: 1%;
                flex: 6;
                font-size: 1.5em;
                
                @include sm {
                    font-size: 1rem;
                }
            }
        }

    }
}