/* Layout */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  background: #4c4455;
  background: radial-gradient(circle, #4c4455 0%, #442025 51%, #2d1f40 62%, #2f2f30 100%);
  font-family: arial, sans-serif;
  color: #dddddd;
}

html body .app {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

html body .app nav {
  margin: 5px;
}

html body .app main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html body .app main aside {
  min-width: 150px;
  width: 15vw;
  margin: 0 5px;
  background: rgba(17, 16, 16, 0.8);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

html body .app main section {
  width: 85vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 5px;
}

html body .app footer {
  margin: 5px;
}

/* Layout elements */
.navbar {
  height: 100%;
}

.sidebar {
  height: 100%;
  padding-top: 20px;
}

.sidebar nav ul {
  list-style-type: none;
}

.sidebar nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.sidebar nav ul li :hover {
  border-bottom: 2px solid blanchedalmond;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sidebar nav ul li .active {
  background-color: blue;
}

.footer {
  width: 100%;
}

/* Pages */
.content {
  background: rgba(17, 16, 16, 0.8);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
}

.content {
  background: rgba(17, 16, 16, 0.8);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
}

.content {
  background: rgba(17, 16, 16, 0.8);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
}

.new_transaciton {
  z-index: 1;
  background: red;
}

.content {
  background: rgba(17, 16, 16, 0.8);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
}

.content {
  background: rgba(17, 16, 16, 0.8);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
}

.content {
  background: rgba(17, 16, 16, 0.8);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
}

/* Components */
/* Variables */
/*# sourceMappingURL=portfolio-tracker.css.map */