@import "../variables/mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    body {
        background: $dark-navy-blue;
        font-family: "Roboto", sans-serif;
        color: $light;
        font-size: 11px;


        div.app {
            margin: 0 auto;
            max-width: 1920px;
            min-height: 100vh;
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-template-rows: auto;
           
           
            @media (max-width: 992px) {
                grid-template-columns: 1fr;
            }
            
            aside {
  
                width: 100%;
                min-height: 100vh;
                min-width: 300px;
                @media (max-width: 992px) {
                    display: none;
                }

            }

            main {
                display: flex;
                flex-direction: column;
                flex: auto;
                overflow: hidden;

                nav {

                    height: 6vh;
                    min-height: 50px;
                    ;

                }

                section {
                    flex-grow: 1;
                }

                footer {
                    height: 6vh;
                    min-height: 50px;
                    ;

                }

            }

        }

    }

    ::-webkit-scrollbar {
        width: 10px;

    }
    
    ::-webkit-scrollbar-track {
            background: rgb(47, 121, 190);
        }

    ::-webkit-scrollbar-thumb{
        background: rgb(212, 218, 221);
        border-radius: 30px;
    }

    
    ::-webkit-scrollbar-thumb:hover{
        background:white;
    border-radius: 30px;
    }

}