@import "../variables/mixins";

.navbar {
 height: 100%;
 display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    padding-right: 50px;

    @media (max-width: 768px) {
        padding-right: 30px;
        
    }  

    .profile {
        font-size: 2rem;
        cursor: pointer;
        color: lightgray;

        &:hover {
            color: $light;
        }
    }
}