@import "../variables/mixins";


.hamburger {
    padding: 10px;
    display: inline-block;
    position: fixed;
    cursor: pointer;
    border: 0px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 20;
    transition: transform .3s .1s ease-in-out;

    @media (min-width: 992px) {
        display: none;

    }

    .hamburger__box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;

        .hamburger__inner {
            @include hamburger-line;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color .1s .2s ease-in-out;

            &:before,
            &:after {
                @include hamburger-line;
                content: '';
                left: 0;
                transition: transform .2s .2s ease-in-out;
            }

            &:before {
                top: -10px;
            }

            &:after {
                top: 10px;
            }

        }

    }


    &.toggle {
        transform: translatex(200px);

        .hamburger__inner {
            background-color: transparent;

            &:before {
                transform: translateY(10px) rotate(45deg);
            }

            &:after {
                transform: translateY(-10px) rotate(-45deg);
            }
        }

    }
}




.transparent {

    height: 100%;
    position: fixed;
    z-index: 13;
    width: 300px;
    top: 0;
    left: 0;

    padding-top: 5vh;
    padding-left: 50px;

    padding-bottom: 5vh;
    display: flex;

    @media (max-width: 992px) {
        padding: 0;

    }

    .sidebar {

width: 100%;
        background: rgb(13, 146, 225);
        background: linear-gradient(100deg, rgba(13, 146, 225, 1) 0%, rgba(0, 87, 150, 1) 100%);
        box-shadow: 0 8px 32px 0 rgba(44, 154, 211, 0.37);
        backdrop-filter: blur(20.0px);
        border-radius: 10px;
        height: 100%;

        overflow: auto;

        @media (max-width: 992px) {
            transition: transform .3s .1s ease-in-out;
            transform: translateX(-200px);
            width: 200px;

            // style of color
            box-shadow: 0px;
            backdrop-filter: unset;
            border-radius: unset;
            border: 0px;

        }


        .list {
            display: flex;
            flex-direction: column;

            ul {
                list-style-type: none;
                padding-top: 15px;

                li {
                    margin: 15px;
                    border: none;
                    height: 100%;
                    text-transform: uppercase;

                    a {
                        display: inline-block;
                        text-decoration: none;
                        padding: 10px;
                        color: rgb(164, 181, 201);
                        border: 2px solid transparent;
                        transition: 0.3s;
                        vertical-align: middle;
                        width: 100%;

                        svg {
                            margin-right: 10px;
                            font-size: 1.5rem;
                            vertical-align: middle;
                        }

                        :hover {
                            border: none;
                        }


                        p {
                            display: inline-block;
                            vertical-align: top;
                        }
                    }

                    :hover {
                        color: white;
                    }

                    .active {
                        @include color;
                        color: white;
                    }

                }

            }

            .home {
                font-size: 1.5rem;
                text-align: center;
                height: 5vh;
                z-index: 1;
                min-height: 50px;
                padding-top: 10px;
                background-color: transparent;

                @media (max-width: 992px) {
                    display: none;
                }

                a {
                    text-decoration: none;
                    color: white;
                }

            }

        }

        &.toggle {

            transition: transform .3s .1s ease-in-out;
            transform: translateX(0px);
        }

    }



}
