@import "../variables/mixins";

.sidebar {
    // @include border;
    // @include color;
    height: 100%;
    padding-top: 20px;

    nav {

        ul {
            list-style-type: none;
            li {
                a {
                    display: block;
                    text-decoration: none;
                    padding: 10px;
                    color: white; 
                 
                }
                
                :hover {
                    border-bottom: 2px solid blanchedalmond;
                    transition: 0.2s;
                    }

                .active {
                    background-color: blue;
                }

                
            }

        }

    }   
    
}