@import "../variables/mixins";

    .calculator {
        flex: 1;
        @include color;
        overflow: hidden;
      
      }
    
      
      .swap {
          cursor: pointer;
        }
        
