@import "../variables/mixins";

div.content {

          .cards {
               display: grid;
               grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
               
               
               @media (max-width: 992px) {
                    grid-template-columns: 1fr 1fr 1fr;
                    
                }  
          }


 }