@import "../variables/mixins";


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;


    @include xl {
        grid-template-columns: 1fr 1fr 1fr;

    }

    @include md {
        grid-template-columns: 1fr 1fr;

    }

    @include sm {
        grid-template-columns: 1fr;

    }
}

.linechart {

    
}
.assets {

}