.new_transaction_background {
    font-size: 1.5rem;
    height: 100%;
    background-color: #01141f;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;

    .new_transaciton {

        height: 100%;

        form {
            @include border-radius;
            @include border-light;
            height: 100%;
            padding: 2%;

            display: flex;
            flex-direction: row;
            justify-content: center;

            

            .panel {

.transactions_heading {

                margin-bottom: 2%;
                min-height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                width: 100%;
                font-size: 3rem;
                font-weight: 100;

            }



                display: grid;
                grid-template-columns: 1fr;
                row-gap: 3rem;

                .panel_row {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 1rem;

                    @include sm {
                        grid-template-columns: 1fr;
                    }


                    .panel_cell {
                        label {
                            margin: 1rem;
                        }

                        select {
                            background: linear-gradient(100deg, rgba(1, 20, 31, 1) 10%, rgba(1, 20, 31, 0.5) 100%);
                            width: 100%;
                            @include border-radius;
                            @include border-light;
                            background-color: transparent;
                            transition: all 0.3s ease;
                            cursor: pointer;
                            padding: 1rem;
                            color: lightgray;
                            outline: none;


                            &:focus {
                                @include border-blue;
                                box-shadow: none;
                                outline: none;
                                color: $dark-blue;
                            }

                        }

                    }

                    input {
                        background: linear-gradient(100deg, rgba(1, 20, 31, 1) 10%, rgba(1, 20, 31, 0.5) 100%);
                        @include border-radius;
                        @include border-light;
                        outline: none;
                        padding: 1rem;
                        width: 100%;
                        color: lightgray;
                        background-color: transparent;

                        &:focus {
                            @include border-blue;
                            box-shadow: none;
                            outline: none;

                        }
                    }

                }

                .panel_grid {

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 1rem;
                    row-gap: 5rem;
        

                    .panel_cell {

                        label {
                            padding: 1rem;
                        }

                        select {
      
                            background: linear-gradient(100deg, rgba(1, 20, 31, 1) 10%, rgba(1, 20, 31, 0.5) 100%);
                            width: 100%;
                            @include border-radius;
                            @include border-light;
                            background-color: transparent;
                            transition: all 0.3s ease;
                            cursor: pointer;
                            padding: 1rem;
                            color: lightgray;
                            outline: none;

                            &:focus {
                                @include border-blue;
                                box-shadow: none;
                                outline: none;
                                color: $dark-blue;
                            }

                        }

                        input {
                            background: linear-gradient(100deg, rgba(1, 20, 31, 1) 10%, rgba(1, 20, 31, 0.5) 100%);

                            @include border-radius;
                            @include border-light;
                            outline: none;
                            padding: 1rem;
                            width: 100%;
                            color: lightgray;
                            background-color: transparent;

                            &:focus {
                                @include border-blue;
                                box-shadow: none;
                                outline: none;

                            }
                        }
                    }



                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 2%;

                        button {
                            width: 115px;
                            height: 40px;
                            font-size: 1.5rem;
                            padding: 10px;
                            cursor: pointer;
                            color: $light;
                            @include gradient-light;
                            @include border-radius;
                            outline: none;
                            border: none;
                            color: #F5FBFE;
                            transition: 0.3s;

                            a {
                                text-decoration: none;
                                color: $light;
                            }

                            &:hover {


                                color: $light;
                                box-shadow: 0 5px 10px 0 rgba(44, 154, 211, 0.37);
                            }
                        }


                    }
                }

            }


        }
    }
}