@import "../variables/mixins";

.news_panel {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem;
     font-size: 1rem;
justify-items: center;

     @include lg {
          grid-template-columns: 1fr 1fr;
     }



     .news {
          display: flex;
          flex-direction: column;
          @include border-radius;
          @include border-blue;
          max-width: 300px;
          
     padding:1rem;
          img {
               @include border-radius;
               @include border-radius;
               display: flex;
               flex-direction: row;
               justify-content: center;


               .article {
                    margin: 1rem;

                    .title {
                         font-size: 1.5rem;
                         padding-top: 1rem;
                         padding-bottom: 1rem;
                    }


               }



          }
     }
}