@import "../variables/mixins";

.news_panel {
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 2rem;
     row-gap: 2rem;
     grid-template-rows: auto;

     @include xl {
          grid-template-columns: 1fr;

     }

     @include md {
          grid-template-columns: 1fr;
     }



     .news {
          padding: 1rem;

          @include border-radius;
          @include border-light;

          @include sm {

               flex-direction: column;
          }



          .image {

               display: flex;
               flex-direction: row;
               justify-content: left;
               align-items: center;
               opacity: 0.8;
               float: left;
               padding: 1rem;

               img {

                    @include border-radius;
                    display: flex;
                    width: 100%;
               }

          }


          .article {


               padding: 1rem;
               font-weight: 100;

               .title {

                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    color: $blue;
               }

               .text {
                    font-size: 1.5rem;


               }


          }
     }
}