@import "../variables/mixins";


.wallets {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

  }

  .wallet {
    border-radius: 10px;
    border: 1px solid rgba(62, 174, 244, 0.7);
    padding: 5%;
    min-height: 100px;

    a {
      .svg {
        font-size: 5rem;
      }
    }

  }
}