@import "../variables/mixins";



div.content {

    .wallets_row {
    display: grid;
         grid-template-columns: 1fr 1fr;
         grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}


}