@import "../variables/mixins";

.transactions_table {
    @include border-light;
    @include border-radius;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    flex: 1;

    .transactions_heading {
    
        margin-bottom: 2%;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        width: 100%;
        font-size: 3rem;
        font-weight: 100;
    
    }


    .transactions_grid {
        font-size: 1rem;
        color: lightgrey;
        border-radius: 10px;

        .transactions_row {
            border-bottom: 0.5px rgba(255, 255, 255, 0.18) solid;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            &.transactions_title {
                text-transform: uppercase;
color: $dark-blue;
              
                
            }

            .transactions_cell {
                padding-top: 1.5rem;
                padding-bottom:1.5rem;
                font-size: 1.5rem;
                min-width: 20px;

                @include sm {
                    font-size: 1rem;

                }

            }

        }


    }

    .add {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        padding: 1rem;
        

        a {

            svg {
                font-size: 5rem;
                transition: 0.3s;
                color: $light;

                &:hover {
                    font-size: 6rem;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2%;


        button {
            margin: 1%;
            font-size: 1.5rem;
            font-weight: 100;
            padding: 10px;
            cursor: pointer;
            color: $light;
            @include gradient-light;
            @include border-radius;
            outline: none;
            border: none;
            color: #F5FBFE;

            &:hover {
                scale: (1, 2);
                transition: transform .3s .1s ease-in-out;

                color: $light;
                box-shadow: 0 5px 10px 0 rgba(44, 154, 211, 0.37);
            }

            @include sm {
                font-size: 1rem;
            }

        }
    }

}
